/* Color Based on current requirement */

$white:              #ffffff !default;
$white-smoke:        #f2f2f2 !default;
$black:              #000000 !default;
$gray:               #b8b8b8 !default;
$safety-orange:      #F96D00 !default;
$oxford-blue:        #263135 !default;
$hint-of-red:        #f1efed !default;
$nobel:              #999999 !default;
$tenne:              #c65700 !default;
$very-light-grey:    #cccccc !default;
$light-grey:         #d4d4d4 !default;
$gondola:            #3c312e !default;

$blue:               #007bff !default;
$indigo:             #6610f2 !default;
$purple:             #6f42c1 !default;
$pink:               #e83e8c !default;
$red:                #dc3545 !default;
$orange:             #fd7e14 !default;
$yellow:             #ffc107 !default;
$green:              #28a745 !default;
$teal:               #20c997 !default;
$cyan:               #17a2b8 !default;
