// Typography

// $base-font-size

$base-font-size:              16;

// $base-line-height

$base-line-height:            24;

// Font Stacks

// $typefaces
//
// Configuration of webfonts imports.
//
// $typefaces - {map}
// @family - {string}
// @weight - {integer} or {keyword} i.e. 800, bold
// @style - {keyword} i.e. normal, italic

$typefaces: (
 'FILENAME': (
   family: 'fontname',
   weight: 100,
   style: normal,
 ),
);

// $font-family-sans-fallback

$font-family-sans-fallback:   'Arial', sans-serif;

// $font-family-sans
// @requires - `$font-family-sans-fallback`

$font-family-sans:            'Helvetica Neue', 'Helvetica', $font-family-sans-fallback;

// $font-family-serif

$font-family-serif:           'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;

// $font-family-monospace

$font-family-monospace:       'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace;

// $font-family-display

$font-family-display:         $font-family-sans;

// $font-family-default

$font-family-default:         $font-family-sans;
