/* Color Based on current requirement */
html {
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

a {
  background: transparent;
  color: #F96D00;
  text-decoration: none;
  transition: color .2s; }

img {
  height: auto;
  max-width: 100%; }

/* h1, h2, h3, h4, h5, h6{

} */
h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.wrapper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .wrapper:hover {
    color: red; }
